<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.zhouweiyao.rest.dao.ShopFoodMapper" >
  <resultMap id="BaseResultMap" type="cn.zhouweiyao.rest.pojo.ShopFood" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="menu_id" property="menuId" jdbcType="INTEGER" />
    <result column="food_name" property="foodName" jdbcType="VARCHAR" />
    <result column="food_price" property="foodPrice" jdbcType="DECIMAL" />
    <result column="food_img" property="foodImg" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, menu_id, food_name, food_price, food_img
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.zhouweiyao.rest.pojo.ShopFoodExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from shop_food
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from shop_food
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <select id="selectShopFoodByMenuId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from shop_food
    where menu_id = #{menu_id,jdbcType=INTEGER}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from shop_food
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="cn.zhouweiyao.rest.pojo.ShopFoodExample" >
    delete from shop_food
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" useGeneratedKeys="true" keyProperty="id"   parameterType="cn.zhouweiyao.rest.pojo.ShopFood" >
    insert into shop_food (id, menu_id, food_name, 
      food_price, food_img)
    values (#{id,jdbcType=INTEGER}, #{menuId,jdbcType=INTEGER}, #{foodName,jdbcType=VARCHAR}, 
      #{foodPrice,jdbcType=DECIMAL}, #{foodImg,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.zhouweiyao.rest.pojo.ShopFood" >
    insert into shop_food
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="menuId != null" >
        menu_id,
      </if>
      <if test="foodName != null" >
        food_name,
      </if>
      <if test="foodPrice != null" >
        food_price,
      </if>
      <if test="foodImg != null" >
        food_img,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="menuId != null" >
        #{menuId,jdbcType=INTEGER},
      </if>
      <if test="foodName != null" >
        #{foodName,jdbcType=VARCHAR},
      </if>
      <if test="foodPrice != null" >
        #{foodPrice,jdbcType=DECIMAL},
      </if>
      <if test="foodImg != null" >
        #{foodImg,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.zhouweiyao.rest.pojo.ShopFoodExample" resultType="java.lang.Integer" >
    select count(*) from shop_food
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update shop_food
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.menuId != null" >
        menu_id = #{record.menuId,jdbcType=INTEGER},
      </if>
      <if test="record.foodName != null" >
        food_name = #{record.foodName,jdbcType=VARCHAR},
      </if>
      <if test="record.foodPrice != null" >
        food_price = #{record.foodPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.foodImg != null" >
        food_img = #{record.foodImg,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update shop_food
    set id = #{record.id,jdbcType=INTEGER},
      menu_id = #{record.menuId,jdbcType=INTEGER},
      food_name = #{record.foodName,jdbcType=VARCHAR},
      food_price = #{record.foodPrice,jdbcType=DECIMAL},
      food_img = #{record.foodImg,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.zhouweiyao.rest.pojo.ShopFood" >
    update shop_food
    <set >
      <if test="menuId != null" >
        menu_id = #{menuId,jdbcType=INTEGER},
      </if>
      <if test="foodName != null" >
        food_name = #{foodName,jdbcType=VARCHAR},
      </if>
      <if test="foodPrice != null" >
        food_price = #{foodPrice,jdbcType=DECIMAL},
      </if>
      <if test="foodImg != null" >
        food_img = #{foodImg,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.zhouweiyao.rest.pojo.ShopFood" >
    update shop_food
    set menu_id = #{menuId,jdbcType=INTEGER},
      food_name = #{foodName,jdbcType=VARCHAR},
      food_price = #{foodPrice,jdbcType=DECIMAL},
      food_img = #{foodImg,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>